@model StudentsModel
<div class="modal fade" id="UpdateStudentModal-@Model.Id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Öğrenci Güncelle</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Student/AddStudent">
                    <input type="hidden" value="@Model.Id" />
                    <input type="hidden" value="@Model.ScoolId" />
                    <input type="hidden" value="@Model.IsDeleted" />
                    <input type="hidden" value="@Model.InsertedDate" />
                    <input type="hidden" value="@Model.UpdatedDate" />
                    <input type="hidden" value="@Model.SysUserId" />
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="sinifAdi" class="form-label fw-bold">Öğrenci Adı:</label>
                                <input type="text" class="form-control" id="sinifAdi" asp-for="StudentName" value="@Model.StudentName" required>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="aciklama" class="form-label fw-bold">Öğrenci Soyadı:</label>
                                <input type="text" class="form-control" id="aciklama" asp-for="StudentSurName" value="@Model.StudentSurName" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="sinifAdi" class="form-label fw-bold">Öğrenci TCKN:</label>
                                <input type="text" class="form-control" id="sinifAdi" asp-for="StudentTckn" value="@Model.StudentTckn" required>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="aciklama" class="form-label fw-bold">Öğrenci Okul Numarası:</label>
                                <input type="text" class="form-control" id="aciklama" asp-for="StudentNumber" value="@Model.StudentNumber" required>
                            </div>
                        </div>
                    </div>
                    <label for="aciklama" class="form-label fw-bold">Sınıfı:</label>
                    <select class="form-select mb-3" aria-label="Default select example" id="dateSelector" asp-for="ClassId">
                        <option class="text-center" value="@Model.ClassId" selected>@Model.ClassName</option>
                        @foreach (var item in ViewBag.classList)
                        {
                            <option class="text-center" value="@item.Id">@item.ClassName</option>
                        }
                    </select>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Güncelle</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>