@model List<ClassModel>
@{
    ViewData["Title"] = "Index";
    int sira = 1;
}
<br />
<br />

<style>
    .results tr[visible='false'],
    .no-result {
        display: none;
    }

    .results tr[visible='true'] {
        display: table-row;
    }

    .counter {
        padding: 8px;
        color: #ccc;
    }
</style>
<div class="container-fluid py-4">
    <div class="col">
        <button class="btn btn-secondary" type="button" data-toggle="modal" data-target="#AddSinifModal">Yeni Bir Sınıf Ekle</button>
    </div>
    <br />
    <div class="row">
        @if (TempData["Alert"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @TempData["Alert"]
            </div>

        }
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Sınıflar</h5>
                    <!-- Table with stripped rows -->
                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr class="text-center">
                                <th>#</th>
                                <th>Sınıf Adı</th>
                                <th>Açıklama</th>
                                <th>Durum</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="text-center">
                                    <td>@sira</td>
                                    <td>@item.ClassName</td>
                                    <td>@item.Desciription</td>
                                    @if (item.IsActive)
                                    {
                                        <td class="text-success">Aktif</td>
                                    }
                                    else
                                    {
                                        <td class="text-danger">Pasif</td>
                                    }
                                    <td>
                                        <button type="button" data-toggle="modal" data-target=@("#UpdateModal-" + @item.Id) data-url="@Url.Action($"UpdateSinif/{item.Id}")" class="btn btn-primary">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        @await Html.PartialAsync("_UpdateSinifModal", item)
                                    </td>
                                </tr>
                                sira++;
                            }
                        </tbody>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------------------------------------------------->
<!-- Ekle Modal -->
<div class="modal fade" id="AddSinifModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni Sınıf Ekle</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="/Sinif/AddSinif">
                    <div class="mb-3">
                        <label for="sinifAdi" class="form-label">Sınıf Adı:</label>
                        <input type="text" class="form-control" id="sinifAdi" name="ClassName" required>
                    </div>
                    <div class="mb-3">
                        <label for="aciklama" class="form-label">Açıklama:</label>
                        <input type="text" class="form-control" id="aciklama" name="Desciription" required>
                    </div>


                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


